.detailsContainer {
  padding: 30px;
}

.countryName {
  font-size: 18px;
  padding: 20px 0 20px 0;
  background-color: rgba(180, 75, 112, 0.638);
  margin-bottom: 20px;
  color: #fff;
}

.detailsContents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  text-align: center;
  margin: 30px;
}

.detailsData {
  background-color: rgba(180, 75, 112, 0.638);
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
}

@media screen and (max-width: 375px) {
  .detailsContents {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  h1 {
    font-size: 25px;
  }
}
